<body>
        <div class="row align-items-center mt-3">
            <div class="col mx-auto text-center">
                <img class="w-25" src="/img/gifs/constru.gif" alt="nyan-cat">
            </div>
        </div>

        <h1 class="text-center my-3">Em construção.</h1>

        <div class="row align-items-center">
            <div class="col mx-auto text-center">
                <img class="w-25" src="/img/gifs/constru2.gif" alt="nyan-cat">
            </div>
        </div>
</body>