<header class="bg-dark text-white">
    Aqui estão as informações da suas reserva:
</header>

<article>
    <H1>Hotel Urbano</H1>
    <hr class="my-2">
    <h5>Número do quarto: {{numero}}</h5><br>
    <h5>Número de pessoas: {{pessoas}}</h5><br>
    <hr class="my-3">
    <h5 class="mb-1">Data:</h5>
    <h4>Entrada: {{checkin}}</h4><br>
    <h4>Saída: {{checkout}}</h4>
</article>

<footer class="bg-dark text-white">
    <h5>Siga a gente nas nossas redes sociais</h5>
</footer>