body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

.zoom:hover {
  transform: scale(2);
}




@media screen and (max-width: 480px){

  h1.size480 {
    font-size: 35px !important; 
  }

  h3.size480{
    font-size: 25px !important;
  }

} 