   <section class="bg-dark pb-5 fw-bold text-white"
          style="background-image: url(./img/imagesac/bannerAco.png); background-size: cover; height: 60vh;">
          <div class="container h-100 pt-5 pb-5">
            <div class="row d-flex h-100 justify-content-center text-center">
              <div class="col-md-9">
                <h1 class="pb-2 display-5 text-uppercase fw-bold text-white mt-5 size480"
                  style="font-size: 58px; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #000" ;>ACOMODAÇÕES</h1>               
                <a href="/reserva" class="btn btn-round btn-lg btn-warning shadow-lg mt-md-5">Faça sua reserva!</a>
                <p class="strong mt-3"
                  style="font-size: 5vh; -webkit-text-stroke-width: 0.5px; -webkit-text-stroke-color: #000">Hospede-se no melhor Hotel Nordestino!</p>
              </div>
            </div>
          </div>
        </section>
    
        <!-- IMG 1 -->
    
        <section class="pt-5 pb-5 my-5">
          <div class="container-xl">
            <div class="row align-items-center">
              <div class="col-12 col-md-6 mb-4 mb-md-0">
                <img alt="image" class="img-fluid" src="/img/imagesac/imgac1.jpg">
              </div>
              <div class="col-12 col-md-6 col-lg-5 ms-md-auto text-start">
                <h1>Apartamentos</h1>
                <p class="text-h3">Todos os apartamentos têm banheiro em mármore, alguns com banheira. 
                  Estes apartamentos são confortáveis e convidativos.</p><p>
                    <a class="btn btn-rounded btn-warning mt-4" href="/reserva">Fazer reserva</a>
                </p>
              </div>
            </div>
          </div>
        </section>
    
        <!-- IMGs 2 -->
    
        <section class="pt-5 pb-5 my-5">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col col-md-8 text-center">
                <img alt="image" class=" mb-4 w-100" src="/img/imagesac/imgac2.jpg">
                <p class="text-h3">Estes apartamentos contam com uma vista exuberante,
                                  são bem ilumindos e luxuosos, com mobilia e equipamentos de alta qualidade!</p>
              </div>
            </div>
          </div>
    
        <!-- IMGs 3 -->
    
        </section>
        <section class="pt-5 pb-5 my-5">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-6">
                <h1>Apartamentos simples ao mais luxuoso!</h1>
                <p class="text-h3 mb-5">Estes apartamentos são bem iluminados e arejados. 
                                        Eles contam com pé direito alto e amplas janelas nas quais você consegue
                                        visualizar parcialmente o mar azul-turquesa.</p>
                <p class="d-flex-row">
                  <img alt="image" class="rounded-circle mb-4 me-2 w-25 zoom" src="/img/imagesac/imgac3.jpg">
                  <img alt="image" class="rounded-circle mb-4 me-2 w-25 zoom" src="/img/imagesac/imgac4.jpg">
                </p>
                <p><strong>Serviço de quarto disponível 24h por dia!</strong></p>
              </div>
              <div class="col-md-6 m-auto ms-lg-auto me-lg-0 6 pt-5 pt-lg-0">
                <img alt="image" class="img-fluid" src="/img/imagesac/imgac4.jpg">
              </div>
            </div>
          </div>
    
        <!-- IMGs 3 -->
    
        </section>
        <section class="pt-5 ">
          <div class="container">
            <div class="row justify-content-right align-items-center d-flex">
              <div class="col-md-6 self-align-center  text-end text-center mt-5 mb-5">
                <img src="/img/imagesac/imgac3.jpg" alt="" class="img-fluid mt-5 mb-5 zoom2" style="margin:auto">
              </div>
              <div class="col-md-6 self-align-center  text-end text-center mt-5 mb-5">
                <h1 class="  mt-5   text-start text-xs-center">Vista para o mar!</h1>
                <p class="lead    text-start mb-3">Comece o dia apreciando a exuberante vista das Praia do Nordeste. Alguns apartamentos possuem sacadas estilo Juliet Balcony, que dá um charme extra na decoração.</p>
                <a href="/reserva" class="btn btn-lg btn-warning mb-2 btn-rounded">Fazer reserva</a>
              </div>
            </div>
          </div>
    
          <!-- Slideshow -->
    
          <section class="pt-5 pb-5">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h3 class="mb-3 size480">Conheça as suítes!</h3>
                </div>
                <div class="col-6 text-md-end">
                  <a class="btn btn-primary mb-3 me-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                  </a>
                  <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                  </a>
                </div>
                <div class="col-12">
                  <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="row">
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                src="/img/imagesac/imgac5.jpg">
                              <div class="card-body">
                                <h4 class="card-title">Suíte Deluxe</h4>
                                <p class="card-text">Aprecie as vistas da Praia. Cada uma das arejadas suítes
                                                    contam com um luxuoso quarto, uma sala de estar independente
                                                    e um espaçoso banheiro.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                src="/img/imagesac/imgac6.jpg">
                              <div class="card-body">
                                <h4 class="card-title">Suíte Master</h4>
                                <p class="card-text">Desfrute da brisa fresca de sua sacada privativa com vista para
                                                    a piscina e parcial do mar. Cada suíte dispõe de uma sala de 
                                                    estar e um banheiro com ducha e banheira independentes.

                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                src="/img/imagesac/imgac7.jpg">
                              <div class="card-body">
                                <h4 class="card-title">Suíte Sênior</h4>
                                <p class="card-text">Esta categoria se encontra no prédio anexo. As suítes têm
                                                    aproximadamente 62m² e uma confortável varanda para 
                                                    você apreciar.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row">
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                src="/img/imagesac/imgac8.jpg">
                              <div class="card-body">
                                <h4 class="card-title">Suíte Vice City</h4>
                                <p class="card-text">Localizadas no prédio principal, estas suítes são espaçosas
                                                    e confortáveis, possuem uma sala de estar e pé direito alto.

                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                src="/img/imagesac/imgac9.jpg">
                              <div class="card-body">
                                <h4 class="card-title">Suíte Life-Style</h4>
                                <p class="card-text">O piso da cobertura tem a sua própria piscina - a Black Pool,
                                                    além de serviço exclusivo de mordomia.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <img class="img-fluid" alt="100%x280" src="/img/imagesac/imgac10.jpg">
                                <div class="card-body">
                                  <h4 class="card-title">Suíte Premium</h4>
                                    <p class="card-text">Esta suíte tem aproximadamente 80m², possui sala de jantar e uma sacada com a deslumbrante vista para a Praia do Nordeste.</p> 
                                    </div>
                                  </div>
                                </div>
                              <div class="col text-center">
                            <a href="/reserva" class="btn btn-warning">Fazer reserva</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>