  <section class="bg-dark pb-5 fw-bold text-white"
          style="background-image: url(./img/Atividades/arvor.jpg); background-size: cover; height: 70vh;">
          <div class="container h-100 pt-5 pb-5">
            <div class="row d-flex h-100 justify-content-center text-center">
              <div class="col-md-9">
                <h1 class="pb-2 display-5 text-uppercase fw-bold text-white mt-5 size480"
                  style="font-size: 58px; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #000;" >Conheça nossas atividades
                </h1>
                
                <p class="strong mt-3"
                  style="font-size: 5vh; -webkit-text-stroke-width: 0.5px; -webkit-text-stroke-color: #000">Com várias
                  promoções!</p>
              </div>
            </div>
          </div>
        </section>
    
        <!-- IMG 1 -->
    
        <section class="pt-5 pb-5 my-5">
          <div class="container-xl">
            <div class="row align-items-center">
              <div class="col-12 col-md-6 mb-4 mb-md-0">
                <img alt="image" class="img-fluid" src="./img/Atividades/tirolela.jpg">
              </div>
              <div class="col-12 col-md-6 col-lg-5 ms-md-auto text-start">
                <h1>Tirolesa</h1>
                <p class="text-h3">No Hotel temos diversas alternativas de tirolesas que variam entre 50m e 1Km de extensão e de 2m a 140m de altura. A mais atrativa é a Tirolesa Voadora. As tirolesas também podem ser realizadas por pessoas com deficiência ou mobilidade reduzida. É uma sensação inexplicável!</p><p>
                </p>
              </div>
            </div>
          </div>
        </section>
    
        <!-- IMGs 2 -->
    
        <section class="pt-5 pb-5 my-5">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col col-md-8 text-center">
                <img alt="image" class=" mb-4 w-100" src="./img/Atividades/tirorora.jpg">
                <p class="text-h3">OBS: seguimos todos os protocolos de segurança</p>
              </div>
            </div>
          </div>
    
        <!-- IMGs 3 -->
    
        </section>
        <section class="pt-5 pb-5 my-5">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-6">
                <h1>Arvorismo</h1>
                <p class="text-h3 mb-5">A prática do arvorismo pode ser realizada por pessoas de qualquer idade, além disso, os benefícios desta modalidade são muitos, 
                  entre eles o exercício de sua coordenação motora, equilíbrio e o autocontrole.</p>
                <p><strong>Segurança nas práticas.</strong></p>
               
              </div>
              <div class="col-md-6 m-auto ms-lg-auto me-lg-0 6 pt-5 pt-lg-0">
                <img alt="image" class="img-fluid" src="./img/Atividades/arvorismokk.jpg">
              </div>
            </div>
          </div>
    
        <!-- IMGs 3 -->
    
        </section>
        <section class="pt-5 ">
          <div class="container">
            <div class="row justify-content-right align-items-center d-flex">
              <div class="col-md-6 self-align-center  text-end text-center mt-5 mb-5">
                <img src="./img/index/hotel5.jpg" alt="" class="img-fluid mt-5 mb-5 zoom2" style="margin:auto">
              </div>
              <div class="col-md-6 self-align-center  text-end text-center mt-5 mb-5">
                <h1 class="  mt-5   text-start text-xs-center">O nosso hotel oferece lazer e diversão da melhor forma</h1>
                <p class="lead    text-start mb-3">Disponibilidade para todas as idades e capacidades físicas</p>
              </div>
            </div>
          </div>
    
          <!-- Slideshow -->
    
          <section class="pt-5 pb-5">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h3 class="mb-3 size480">Outras atividades que o hotel disponibiliza</h3>
                </div>
                <div class="col-6 text-md-end">
                  <a class="btn btn-primary mb-3 me-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                  </a>
                  <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                  </a>
                </div>
                <div class="col-12">
                  <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item">
                        <div class="row">
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                src="./img/Atividades/triciclokk.jpg">
                              <div class="card-body">
                                <h4 class="card-title">Passeio de triciclo</h4>
                                <p class="card-text">Os triciclos são bastante confortaveis e garantem uma melhor locomoção</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                src="./img/Atividades/playground.jpg">
                              <div class="card-body">
                                <h4 class="card-title">Playground</h4>
                                <p class="card-text">Diversão e segurança é o nossa lema</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                src="./img/Atividades/barcokk.jpg">
                              <div class="card-body">
                                <h4 class="card-title">Passeio de barco</h4>
                                <p class="card-text">aproveite dessa oportunidade para se desfrutar das brisas maritimas</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item active">
                        <div class="row">
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                src="./img/Atividades/rapelkk.jpg">
                              <div class="card-body">
                                <h4 class="card-title">Rapel</h4>
                                <p class="card-text">A técnica de descida controlada por um plano inclinado ou vertical, usando cordas e descensores é 
                                  oferecida no Hotel urbano como uma oportunidade para vivenciar uma grande aventura.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                src="./img/Atividades/arvor.jpg">
                              <div class="card-body">
                                <h4 class="card-title">Arvorismo</h4>
                                <p class="card-text">A prática do arvorismo pode ser realizada por pessoas de qualquer idade, além disso, os benefícios desta modalidade são muitos,
                                   entre eles o exercício de sua coordenação motora, equilíbrio e o autocontrole.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                src="./img/Atividades/voleikk.jpg">
                              <div class="card-body">
                                <h4 class="card-title">Atividades esportivas</h4>
                                <p class="card-text">Se exercitar sentindo uma brisa do mar é uma experiencia magnifica que só o nosso hotel oferece</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row">
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                src="./img/Atividades/jahia.jpg">
                              <div class="card-body">
                                <h4 class="card-title">Pescaria esportiva</h4>
                                <p class="card-text">Sente-se e tenha paciência</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                src="./img/Atividades/caminhada.jpg">
                              <div class="card-body">
                                <h4 class="card-title">Caminhada</h4>
                                <p class="card-text">Ouça a natureza ao seu redor enquqanto se movimenta</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                src="./img/Atividades/futezin.jpg">
                              <div class="card-body">
                                <h4 class="card-title">Atividades fora do hotel</h4>
                                <p class="card-text">Divirta-se com a ligação direta da praia para o hotel</p>
                              </div>
                            </div>
                          </div>
                          <div class="col text-center">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>