
<section class="bg-dark pb-5 fw-bold text-white"
          style="background-image: url(./img/SPA/SPA_KNEIPP.jpg); background-size: cover; height: 100vh;">
          <div class="container h-100 pt-5 pb-5">
            <div class="row d-flex h-100 justify-content-center text-center">
              <div class="col-md-9">
                <h1 class="pb-2 display-5 text-uppercase fw-bold text-white mt-5 size480"
                  style="font-size: 58px; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #000" ;>Venha e conheça
                  o melhor spa do Nordeste!
                </h1>
                <p class="strong mt-3"
                  style="font-size: 5vh; -webkit-text-stroke-width: 0.5px; -webkit-text-stroke-color: #000">Um refresco para o corpo e para a alma</p>
              </div>
            </div>
          </div>
        </section>
    
        <!-- IMG 1 -->
    
        <section class="pt-5 pb-5 my-5">
          <div class="container-xl">
            <div class="row align-items-center">
              <div class="col-12 col-md-6 mb-4 mb-md-0">
                <img alt="image" class="img-fluid" src="./img/SPA/Corpo-e-Mente.jpg">
              </div>
              <div class="col-12 col-md-6 col-lg-5 ms-md-auto text-start">
                <h1>Viva a melhor experiência de relaxamento no urbano SPA. </h1>
                <p class="text-h3">Presenteie-se com o puro relaxamento em uma maravilhosa experiência no exclusivo urbano Spa.</p><p>
                  
                </p>
              </div>
            </div>
          </div>
        </section>
    
        <!-- IMGs 2 -->
    
        <section class="pt-5 pb-5 my-5">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col col-md-8 text-center">
                <img alt="image" class=" mb-4 w-100" src="./img/SPA/Experiencia-Urbano.jpg">
                <p class="text-h3">Uma suave esfoliação facial é seguida por um tratamento hidratante para nutrir a pele.</p>
              </div>
            </div>
          </div>
    
        <!-- IMGs 3 -->
    
        </section>
        <section class="pt-5 pb-5 my-5">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-6">
                <h1>Um enorme variedade de salas para visitar!</h1>
                <p class="text-h3 mb-5">Desde o nosso kneipp ao nosso spa de primeira linha.</p>
                <p><strong>Só o Hotel Urbano tem a dar!</strong></p>
                <p class="d-flex-row">
                  <img alt="image" class="rounded-circle mb-4 me-2 w-25 zoom" src="./img/SPA/SPA.jpg">
                  <img alt="image" class="rounded-circle mb-4 me-2 w-25 zoom" src="./img/SPA/SPA_KNEIPP.jpg">
                  <img alt="image" class="rounded-circle mb-4 me-2 w-25 zoom" src="./img/SPA/products.jpg">
                </p>
              </div>
              <div class="col-md-6 m-auto ms-lg-auto me-lg-0 6 pt-5 pt-lg-0">
                <img alt="image" class="img-fluid" src="./img/SPA/SPASAUNA.jpg">
              </div>
            </div>
          </div>
    
        <!-- IMGs 3 -->
    
        </section>
        <section class="pt-5">
          <div class="container">
            <div class="row justify-content-right align-items-center d-flex">
              <div class="col-md-6 self-align-center  text-end text-center mt-5 mb-5">
                <img src="./img/SPA/SPA1.jpg" alt="" class="img-fluid mt-5 mb-5 zoom2" style="margin:auto">
              </div>
              <div class="col-md-6 self-align-center  text-end text-center mt-5 mb-5">
                <h1 class="  mt-5   text-start text-xs-center">O melhor dos produtos tropical!</h1>
                <p class="lead    text-start mb-3">Estamos sempre em busca dos melhores produtos de beleza do mundo para oferecer aos clientes tratamentos sensacionais.</p>
                <p class="text-start">
                 
                </p>
              </div>
            </div>
          </div>
    
          <!-- Slideshow -->
    
          <section class="pt-5 pb-5">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h3 class="mb-3 size480">Venha e veja a beleza que nós temos a disponibilar!</h3>
                </div>
                <div class="col-6 text-md-end">
                  <a class="btn btn-primary mb-3 me-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                  </a>
                  <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                  </a>
                </div>
                <div class="col-12">
                  <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item">
                        <div class="row">
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                src="./img/index/rest1.jpg">
                              <div class="card-body">
                                <h4 class="card-title">O melhor da culinária</h4>
                                <p class="card-text">Do Nordeste ou do mundo a nossa é a melhor.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                src="./img/index/rest2.jpg">
                              <div class="card-body">
                                <h4 class="card-title">Enorme variedade a sua disposição</h4>
                                <p class="card-text">Saia daqui com a barriga cheia ou com o pensamento que aguentava mais.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                src="./img/index/rest3.png">
                              <div class="card-body">
                                <h4 class="card-title">Decoração e ambientalização explêndida</h4>
                                <p class="card-text">Nosso Hotel é conhecido pela beleza. Então porque o restaurante não seria?</p>
                              </div>
                            </div>
                          </div>
                          <div class="col text-center">
                            
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item active">
                        <div class="row">
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                src="./img/index/acomo1.jpg">
                              <div class="card-body">
                                <h4 class="card-title">Quarto Simples</h4>
                                <p class="card-text">Até o nosso simples pode ser maravilhoso.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                src="./img/index/acomo2.jpg">
                              <div class="card-body">
                                <h4 class="card-title">Suíte</h4>
                                <p class="card-text">Não gostou do simples? Conheça nossa suíte com certeza vai amar.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                src="/img/SPA/SPASALA.jpg">
                              <div class="card-body">
                                <h4 class="card-title">Quarto Premium</h4>
                                <p class="card-text">O melhor, simplesmente o melhor que você pode encontrar.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col text-center">
                            
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row">
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                src="./img/SPA/SPA_KNEIPP.jpg">
                              <div class="card-body">
                                <h4 class="card-title">Ambiente magnifico</h4>
                                <p class="card-text">Saia daqui com vontade de voltar.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                src="./img/SPA/SPASALA.jpg">
                              <div class="card-body">
                                <h4 class="card-title">Até a alma se revigora</h4>
                                <p class="card-text">Com funcionários experientes sem duvidas você se sentirá melhor.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="card">
                              <img class="img-fluid" alt="100%x280"
                                src="./img/SPA/SPA_melbournecrownspa.jpg">
                              <div class="card-body">
                                <h4 class="card-title">Ambiente Harmônico</h4>
                                <p class="card-text">Com certeza usamos o melhor para melhor.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col text-center">
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>